body{
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 732px;
}
#root, 
.app{
  height: 731px
}
.hide{
  display: none;
}
.pd-li{
  display: flex;
  flex-direction: column;
}
#si-btn-container{
  position: relative;
  top: 70px;
}
.si-img{
  position: relative;
  top: 28px;
  left: 30px;
  width: 350px;
}
.align-center{
  text-align: center;
}
#pd-name{
  text-align: center;
}
#qt-div{
  display: flex;
  justify-content: space-evenly;
}
.qt-btn{
  width: 100px;
}
.add-btn{
  width: 310px;
  position: relative;
  left: 50px;
  padding: 10px;
  margin-top: 30px;
}