html,
#root
{
  max-height: 952px;
  height: 100%;
}
body{
  background-size: contain;
  background-repeat: no-repeat;
}
select{
  height: 40px;
}
.search-li{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  right: 75px;
}
.search-img{
  width: 80px;

}
.ap-img{
  width: 100px;
  height: 100px;
}
.search-Link{
  text-decoration: none;
}
#search-ul{
  list-style-type: none;
}
#al-ul{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  position: relative;
}
.ap-Link{
  text-decoration: none;
}
.ap-h5{
  position: relative;
  top: 30px;
}
.ap-li{
  margin: 10px;
  display: flex;
  width: 376px;
  justify-content: space-between;
}
.hide{
  display: none;
}
.pd-li{
  display: flex;
  flex-direction: column;
}
#cl-count{
  position: absolute;
  right: 25px;
  top: -2px;
}
#si-btn-container{
  position: relative;
  top: 70px;
}
#cart-img{
  width: 30px;
}
.si-img{
  position: relative;
  top: 28px;
  left: 30px;
  width: 350px;
}
.align-center{
  text-align: center;
}
#pd-name{
  text-align: center;
}
#qt-div{
  display: flex;
  justify-content: space-evenly;
}
.qt-btn{
  width: 100px;
}
.add-btn{
  width: 310px;
  position: relative;
  left: 50px;
  padding: 10px;
  margin-top: 30px;
}